.box{
    background-color: #eeeeee;
    height: 120px;
    padding: 0 0 0 0;
    overflow: hidden;
    display: block;
    width: 100%;
    margin: 0 0 0 0;
}
.icon{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000; 
    margin-top: 50px;
    margin-left: 20px;
    width: 15%;
    height: inherit;
}
.subtext{
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
}